$def with (items,integration)
<div class="page-header">
    <h4><i class="fa fa-align-justify"></i>
        Integration Task ($integration.job_id)
    </h4>
</div>
<div class="box" style="min-height: 300px;padding-top: 5px;">
    <div>
    <table class="table-condensed" style="border-top: 0px;width: 100%;">
        <tbody>
            <tr>
                <th>Time Span</th><td>$integration.beginTime ~ $integration.endTime</td>
                <th>Integration Time</th><td>$integration.seconds (Seconds)</td></tr>
            <tr>
                <th>Frequency</th><td>
                    $if integration.freq == 1 :
                        MUSER-I
                    $elif integration.freq == 2 :
                        MUSER-II
                </td>
                <th>Status</th><td>
                    $if integration.status == 0 :
                        new task
                    $elif integration.status == 1 :
                        waiting...
                    $elif integration.status == 2 :
                        running...
                    $elif integration.status == 3 :
                        completed
                    $elif integration.status == 4 :
                        failed
                </td>
            </tr>
        </tbody>
    </table>
    </div>
<div class="page-header">
    <h4><i class="fa fa-files-o"></i>
        Results
    </h4>
</div>
    <table class="table table-hover table-condensed" style="max-height: 300px;">
        <thead>
            <tr>
                <th width="60">Seq</th>
                <th>File</th>
                <th width="100">Operation</th>
            </tr>
        </thead>
        <tbody>
        $ d = 1
        $for v in items:
            <tr>
                <td>$d</td>
                <td>
                    $v
                </td>

                <td>
                     <button class="btn btn-success btn-xs download" title="$v"><i class="fa fa-download"></i> Download</button>
                </td>
            </tr>
            $ d += 1
        </tbody>
    </table>
</div>


<script type="text/javascript">
$$(document).ready(function() {
    $$("ul li.mi-integration").addClass('active');

    $$("button.download").each(function(){
        $$(this).click(function() {
            window.location.href = "integrationResults?&action=download&id=" + $$(this).attr("title");
        });
    });

});
</script>
